@font-face {
    font-family: 'munchkin';
    src: url('./assets/fonts/munchkin.ttf');
  }

.App {
    font-family: 'munchkin', sans-serif;
    background-color: rgba(248, 212, 159, 0.9);
    min-height: 100vh;
}
